contourpy
cycler
dill
fonttools
kiwisolver
latexify-py
matplotlib
mpmath
numpy
packaging
pillow
Pygments
pyparsing
PyQt6
PyQt6-Qt6
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PyQt6_sip
python-dateutil
PyYAML
six
sympy
